.toasts-container {
    position: fixed;
    z-index: 9999;
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
}

.toast-message {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    grid-gap: 0.5rem;
    border-radius: 6px;
    font-size: 0.9rem;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    transform: translateX(0)
}

.toast-message::after {
    content: '\00D7';
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    cursor: pointer;
}

.toast-message--remove {
    transform: translateX(200%);
    transition: transform 0.3s;
}

.toast-message__timed-border {
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    border-radius: 0 0 0 6px;
}

.success svg {
    color: #0fa8a9;
}

.info svg {
    color: #000038;
}

.error svg {
    color: red;
}

.toast-message svg {
    display: grid;
    font-size: 1.5rem;
}

.toasts-container.top {
    top: 1rem;
}

.toasts-container.bottom {
    bottom: 1rem;
}

.toasts-container.top-right {
    top: 1rem;
    right: 1rem
}

.toasts-container.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.toast-message__timed-border.success {
    background-color: #0fa8a9;
    border: none;
}

.toast-message__timed-border.info {
    background-color: #000038;
    border: none;
}

.toast-message__timed-border.error {
    background-color: red;
    border: none;
}