.data-area {
}

.chart-container {
  place-content: center;
  display: grid;
  min-height: calc(100svh - 60px);
  justify-items: center;
}
  
.chart-horizontal{
  height: 60vh;
  width: 59vw;
  transition: width 0.3s ease;
  transition: height 0.3s ease;
}

.chart--sidebar-closed {
  height: 70vh;
  width: 80vw;
}

.chart-doughnut {
  width: 40vw;
  height: 70vh;
  padding: 1rem;
}
  
select.form-select {
  padding: 0.25rem;
  background: transparent;
  border: 2px solid #cccccc80;
  border-radius: 6px;
  font-size: 1rem;
  color: #33333390;
}

.select-option {
  color: #333;
}
  
.form-select {
  width: 175px;
  position: absolute;
  right: 2rem;
  top: 75px;
}

@media(max-width: 750px) {
  .form-select {
    top: 125px;
    z-index: -1;
  }
}

.percentage-container input {
  width: 40px;
  border: 2px solid #cccccc80;
  border-radius: 5px;
  height: 34px;
  text-align: center;
}

.percentage-container {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
  
.update-others button {
  border-radius: 5px;
  background: #cccccc50;
  position: absolute;
  right: -1rem;
  top: -4px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #333333;
}

.update-others button:hover {
  background-color: #000038;
  color: #ffffff;
}

.options-container {
  max-width: 400px;
  justify-self: flex-end;
  width: 100%;
}

.user-info span {
  font-size: 1rem;
  color: #33333399;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 2rem;
  gap: 0.7rem;
  cursor: pointer;
}

.user-info svg {
  height: 40px;
  width: 40px;
}

.data-area__chart {
  position: relative;
}

.chart__selection {
  display: grid;
  justify-items: center;
  margin: auto auto 1rem;
  grid-template-columns:  auto;
  align-items: center;
  grid-gap: 0.5rem;
}

.chart__selection button:not(.percentage-button) {
  background: #ffffff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.chart-selected {
  background: #cccccc50 !important;
  border-radius: 38px;
}

