.data-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  gap: 2rem
  
}

.chart-container {
  padding-top: 3rem;
}
  
.chart-horizontal{
  height: 60vh;
  width: 50vw;
}

.chart-doughnut {
  width: 40vw;
  height: 70vh;
}
  
select.form-select {
  width: 100%;
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  background: transparent;
  border: 2px solid #cccccc80;
  border-radius: 6px;
  font-size: 1rem;
  color: #33333390;
}

.select-option {
  color: #333;
}
  
.download-chart .form-select {
  width: 200px;
  position: absolute;
  right: 0;
  top: -35px;
}

.percentage-container input {
  width: 40px;
  border: 2px solid #cccccc80;
  border-radius: 5px;
  height: 34px;
  text-align: center;
}

.percentage-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.update-others {
  position: relative;
}
  
.update-others button {
  border-radius: 5px;
  background: #cccccc50;
  position: absolute;
  right: -1rem;
  top: -4px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #333333;
}

.update-others button:hover {
  background-color: #000038;
  color: #ffffff;
}

.options-container {
  max-width: 400px;
  justify-self: flex-end;
  width: 100%;
}

.user-info span {
  font-size: 1rem;
  color: #33333399;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 2rem;
  gap: 0.7rem;
  cursor: pointer;
}

.user-info svg {
  height: 40px;
  width: 40px;
}

.data-area__chart {
  position: relative;
}

.chart__selection {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  top: -50%;
  left: -200px;
  height: 100vh;
}

.chart__selection button {
  background: #ffffff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.chart-selected {
  background: #cccccc50 !important;
  border-radius: 38px;
}

