.sidebar {
    height: 100vh;
    background: #000038;
    display: grid;
    justify-items: center;
    padding: 3rem 0rem;
    position: fixed;
    margin-left: 0;
    transition: margin 0.3s ease;
    z-index: 1;
}

.sidebar__menu-toggle {
    cursor: pointer;
    position: absolute;
    left: 315px;
    top: 80px
}

.sidebar--open > .sidebar__menu-toggle {
    left: 300px;
}

.sidebar--closed {
    margin-left: -290px;
}

@media(max-width: 750px) {
    .sidebar {
        padding: 1rem 0;
        position: fixed;
        z-index: 2;
    }

    .sidebar--closed svg {
        right: -5.3rem;
    }
}
  
.logo__and__copyright {
    color: #ffffff99;
    font-size: 10px;
    align-content: center; 
    text-align: center;
    padding: 0.5rem;
}

.nav-container {
    display: grid;
    align-content: space-between;
    overflow-y: auto;
}

.nav-items {
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.5rem;
}

.separator {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc50;
    width: 100%;
    display: grid;
  }