.sidebar {
    height: 100vh;
    background: #000038;
    display: grid;
    justify-items: center;
    padding: 3rem 0.5rem;
    position: fixed;
    transform: translateX(0px);
    transition: transform 0.3s ease;
    z-index: 1;
}

.sidebar__menu-toggle {
    cursor: pointer;
    position: absolute;
    left: 325px;
    top: 80px
}

.sidebar--open .sidebar__menu-toggle {
    left: 315px;
}

.sidebar--closed {
    transform: translateX(-300px)
}

.logo__and__copyright {
    color: #8f8c8f;
    font-size: 10px;
    text-align: center;
    max-width: 200px;
}

.nav-container {
    display: grid;
    align-content: space-between;
    overflow-y: auto;
}

.nav-items {
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.5rem;
}

.separator {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cccccc50;
    width: 100%;
    display: grid;
  }