header {
    background: #cccccc50;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    padding: 0.5rem 0;
}

header > h6 {
  margin: 0 0 0 26px;
  transition: margin 0.3s ease;
}  

.dashboard-title--sidebar-open {
  margin: 0 0 0 300px;
  transition: margin 0.3s ease;
}