.upload {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload__container form button {
  color: #fff;
  background-color: #000038;
  padding: 1.2rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__container-header {
    display: flex;
    flex-direction: column;
}

.upload__container img {
    height: 100px;
}

.file_upload{
    border: none;
}

.file_upload button{
    border: none;
}

