.chart-settings {
    position: absolute;
    top: 0;
    right: 0;
}

.chart-settings__icon {
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    cursor: pointer;
    color: #000038;
    padding: 0.2rem;
    border-radius: 8px;
    font-size: 2.5rem;
    transform: rotate(720deg);
    transition: transform 0.3s ease;
}

.settings-visible {
    transform: rotate(450deg);
}

.chart-settings__options {
    position: fixed;
    width: 350px;
    right: -370px;
    display: grid;
    transition: right 0.3s ease;
    margin-top: 5rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
}

.chart-settings__options.options-visible {
    right: 20px;
}

.chart-selection {
    display: grid;
    grid-gap: 1rem;
    padding: 0.5rem 1.5rem 1.5rem;
    border-top: 1px solid #eeeeee;
}

.chart-selection__btn-header {
    font-size: 1rem;
    padding-top: 0.5rem;
    width: max-content;
} 

.chart-selection__buttons {
    overflow: hidden;
    width: auto;
    display: flex;
    gap: 0.5rem;
}

.chart-selection__buttons button {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 8px;
}

.chart-selection__buttons button:not(.percentage-button).chart-selected {
    background-color: #10a8a9;
    color: #ffffff;
}

.chart-settings__section-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

label {
    font-size: 0.8rem;
}
  

/*  BEGIN checkbox styling */

.checkbox-label {
    padding-top: 4px;
    display: grid;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cccccc;
    
  border-radius: 15px;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #aaaaa;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #10a8a9;
  }
  .check-container input:disabled ~ .checkmark {
    background-color: #cccccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*  END checkbox styling */


/*  BEGIN chart slider styling */

.slider-container {
    margin-top: -1rem;
}

.slider {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.chart-settings__section-container > input[type=range] {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 100%;
    height: 10px;
    background: #000038;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  /* Range Track */
  input[type=range]::-webkit-slider-runnable-track {
    background: #000038;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-track {
    background: #000038;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    height: 10px;
    cursor: pointer;
  }
  
  /* Range Thumb (Handle) */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    background: #10a8a9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    background: #10a8a9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    background: #10a8a9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  /* Hover Effect for Thumb */
  input[type=range]:hover::-webkit-slider-thumb {
    background: #10a8a9;
  }
  input[type=range]:hover::-moz-range-thumb {
    background: #10a8a9;
  }
  input[type=range]:hover::-ms-thumb {
    background: #10a8a9;
  }
  
  /* Active Effect for Thumb */
  input[type=range]:active::-webkit-slider-thumb {
    background: #10a8a9;
  }
  input[type=range]:active::-moz-range-thumb {
    background: #10a8a9;
  }
  input[type=range]:active::-ms-thumb {
    background: #10a8a9;
  }

  /* Disabled Effect for Thumb */
  input[type=range]:disabled::-webkit-slider-thumb {
    background: #cccccc;
  }
  input[type=range]:disabled::-moz-range-thumb {
    background: #cccccc;
  }
  input[type=range]:disabled::-ms-thumb {
    background: #cccccc;
  }

    /* Range Track */
    input[type=range]:-webkit-slider-runnable-track:disabled {
        background: #aaaaaa;
    }
    
    input[type=range]::-moz-range-track:disabled {
        background: #aaaaaa;
    }
    
    input[type=range]::-ms-track:disabled {
        background: transparent;
    }

  input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #ffffff,
                  0 0 0 6px #10a8a9;
  }

/*  END chart slider styling */

.download-options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    max-width: fit-content;
    font-size: 0.8rem;
}

.download-option {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border: 2px solid rgb(0, 0, 56, 0.5);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    cursor: pointer;
}
.download-option:hover {
    background-color: #000038;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.download-option:hover svg {
    color: #ffffff;
    transition: color 0.3s ease;
}

.download-option svg {
    font-size: 1.25rem;
    color: #000038;
}

.download-option:first-child {
    /* border-right: 1px solid #cccccc;
    padding-right: 2rem; */
}